.delete-review-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-review-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .delete-review-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .delete-review-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .delete-btn {
    background-color: #ff5a5f;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: #e0484d;
  }
  
  .cancel-btn {
    background-color: #757575;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .cancel-btn:hover {
    background-color: #5e5e5e;
  }
  