.spot-details-container {
  padding: 30px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.spot-title {
  font-size: 32px;
  font-weight: bold;
}

.spot-location {
  font-size: 18px;
  color: #666;
}

.spot-host {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.spot-images-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 10px;
  max-width: 100%;
  margin: auto;
  align-items: center;
}

.main-image {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.grid-images {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.grid-image {
  
  height: 195px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #ddd; /* Placeholder background */
}

.spot-info-container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spot-description {
  flex: 1;
}

.spot-reserve-section {
  width: 250px;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.price-box h3 {
  font-size: 22px;
  margin: 0;
}

.reserve-button {
  background-color: #ff5a5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.spot-rating1 {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.reviews-section {
  margin-top: 20px;
}

.review {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* .review:last-child {
  border-bottom: none;
} */

.post-review-button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



  