.review-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    width: 400px;
    max-width: 90%;
    border: 5px solid black;
  }
  
  .review-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .review-modal h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  
  .review-modal textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: #e7f7ff;
  }
  
  .star-rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .star-rating span {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    margin: 0 3px;
    text-shadow: 0px 1px 0px black;
  }
  
  .star-rating .filled {
    color: #131212;
    text-shadow: 0px 1px 0px black;
  }
  
  .review-modal .error {
    color: red;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .review-modal button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px rgb(82, 82, 82);
  }
  
  .review-modal button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .review-modal button:not(:disabled) {
    background-color: #ff5a5f;
    color: white;
  }
  
  .review-modal button:not(:disabled):hover {
    background-color: #e0484d;
  }
  
  .cancel-btn {
    background: grey !important;
    color: white;
  }
  
  .cancel-btn:hover {
    background: #555 !important;
  }
  