.spots-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); /* Responsive */
    gap: 20px;
    padding: 20px;
  }
  
  .spot-tile {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .spot-tile:hover {
    transform: scale(1.05); /* Slight hover effect */
  }
  
  .spot-image-container {
    width: 100%;
    height: 250px; /* Fixed image height */
    overflow: hidden;
  }
  
  .spot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .spot-rating {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  
  .spot-rating i {
    color: black; 
    font-size: 14px; 
  }
  
  .spot-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .spot-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
  }

  .spot-location {
    font-weight: bold;
  }
  
  .spot-price {
    color: #010101;
    font-size: 16px;
    font-weight: bold;
  }
  .night1 {
    font-size: 16px;
    font-weight: normal;
  }
  
  